<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="login === false" tab="login">
      <ion-icon name="log-in-sharp"></ion-icon>
      <ion-label>Inicio Sesión</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="login === false" tab="register">
      <ion-icon name="document-lock-sharp"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button
      *ngIf="login === true && (rol === 'Propietario' || rol === 'Admin')"
      tab="tab2"
    >
      <ion-icon name="location-sharp"></ion-icon>
      <ion-label>Añadir Sitio</ion-label>
    </ion-tab-button>

    <ion-tab-button
      *ngIf="login === true && (rol === 'Turista' || rol === 'Admin')"
      tab="tab3"
    >
      <ion-icon name="eye-sharp"></ion-icon>
      <ion-label>Visitar </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
