<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Registrar Sitio Turístico </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Nombre"
        formControlName="name"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Descripción"
        formControlName="description"
        clearInput="true"
      ></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select
          placeholder="Seleccione alguna categoría"
          formControlName="type"
          (ionChange)="handleChange($event)"
          (ionCancel)="pushLog('ionCancel fired')"
          (ionDismiss)="pushLog('ionDismiss fired')"
        >
          <ion-select-option value="Iglesias">Iglesias</ion-select-option>
          <ion-select-option value="Parques">Parques</ion-select-option>
          <ion-select-option value="Restaurantes"
            >Restaurantes</ion-select-option
          >
          <ion-select-option value="Miradores">Miradores</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label class="normal"> Seleccionar Ubicación </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="addUbication()">
          <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </form>

  <ion-button (click)="savePlace()" expand="full" color="secondary"
    >ENVIAR</ion-button
  >
</ion-content>
